//COLORS
$color-primary: #8c72ff;
$color-primary-dark: #785eeb;

$color-secondary: #6cd3ff;
$color-tertiary: #fc96bb;

$color-white: #ffffff;
$color-white-sp: #fbfaff;
$color-white-txt: #eee9e9;

$color-grey: #a7a4af;

$color-dark-bg: #15083e;

//FONT
$default-font-size: 1.8rem;
