.btn {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.2rem 2.5rem;
  border-radius: 10rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  @include respond(tab-port) {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }
  @include respond(phone) {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }
  &--white {
    color: $color-primary;
  }
  &--purple {
    color: $color-white;
    background-color: $color-primary;
  }
  &--circle {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    @include respond(phone) {
      height: 7rem;
      width: 7rem;
      font-size: 1.2rem;
    }
  }
}
