@keyframes up-and-down {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  70% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  80% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes in-and-out {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes in-and-out-rotation {
  0% {
    opacity: 0;
    transform: rotateX(0deg) scale(0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
  30% {
    opacity: 1;
    transform: rotateZ(-30deg) scale(1);
  }
  40% {
    opacity: 1;
    transform: rotateZ(0deg) scale(1);
  }
  55% {
    opacity: 1;
    transform: rotateZ(30deg) scale(1);
  }
  60% {
    transform: rotateZ(0) scale(1);
    opacity: 1;
  }
  70% {
    transform: rotateZ(0) scale(1);
    opacity: 1;
  }
  80% {
    transform: rotateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateZ(0deg) scale(0);
  }
}
