.section-hero {
  max-width: 85%;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  position: relative;
  @include respond(tab-port) {
    flex-direction: column;
  }

  &-text-box {
    flex: 1;
    h1 {
      animation: scale-up 0.4s ease-out 0.7s backwards;
    }
    p {
      animation: slide-up 0.4s ease-out 1.1s backwards;
    }
    button {
      animation: fade-out 0.4s ease-out 1.5s backwards;
    }
    @include respond(tab-port) {
      order: 2;
      text-align: center;
      width: 80%;
      margin: auto;
    }
    @include respond(phone) {
      order: 2;
      text-align: center;
      width: 90%;
      margin: auto;
    }
  }
  &-characters {
    flex: 1;
    position: relative;
    @include centerFlex;
    @include respond(phone) {
      order: 1;
    }
  }
  &-img {
    position: absolute;
    max-width: 100%;
    backface-visibility: hidden;

    @include respond(tab-land) {
      max-width: 70%;
    }
    @include respond(phone) {
      max-width: 30%;
    }
    &--1 {
      top: -6rem;
      left: 7rem;
      animation: fade-out 0.3s ease-in 0.5s backwards,
        up-and-down 3s ease infinite;
      @include respond(tab-land) {
        max-width: 30%;
        top: -4rem;
        left: 7rem;
      }
      @include respond(tab-port) {
        top: -4rem;
        left: 4rem;
      }
      @include respond(phone) {
        top: -4rem;
        left: 12rem;
      }
    }
    &--2 {
      top: 20rem;
      left: -5rem;
      animation: fade-out 1s ease-in 0.6s backwards,
        up-and-down 3s ease 1s infinite;
      @include respond(tab-land) {
        top: 15rem;
        left: -5rem;
      }
      @include respond(tab-port) {
        top: 15rem;
        left: 0rem;
      }
      @include respond(phone) {
        top: 11rem;
        left: 11rem;
      }
    }
    &--3 {
      top: -5rem;
      right: 0;
      animation: fade-out 1s ease-in 0.7s backwards,
        up-and-down 3s ease 0.5s infinite;
      @include respond(tab-land) {
        top: -7rem;
        right: 0;
      }
      @include respond(phone) {
        top: -2rem;
        right: 9rem;
      }
    }
    &--4 {
      bottom: 0rem;
      right: 7rem;
      animation: fade-out 1s ease-in 0.8s backwards,
        up-and-down 3s ease 1.5s infinite;
      @include respond(tab-land) {
        max-width: 30%;
        bottom: 0;
        right: 8rem;
      }
    }
  }
  &-bg-circle {
    width: 80%;
    animation: scale-up 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) backwards;
    @include respond(tab-port) {
      max-width: 70%;
      margin-bottom: 8rem;
    }
    @include respond(phone) {
      max-width: 50%;
      margin-bottom: 5rem;
    }
  }
}
.section-clients {
  max-height: 90vh;
  max-width: 85%;
  margin: auto;
  margin-top: 25rem;
  @include respond(tab-port) {
    margin-top: 15rem;
  }
  text-align: center;
}
.section-guides {
  padding-top: 16rem;
  padding-bottom: 16rem;

  max-width: 85%;
  margin: auto;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: flex-end;
  transition: all 1s ease;
  @include respond(tab-port) {
    padding: 12rem 0;
  }
  @include respond(phone) {
    padding: 8rem 0;
  }
  &-text {
    width: 70%;
    @include respond(tab-port) {
      width: 85%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  &-img-box {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 5rem;
    left: 0;
    @include centerFlex;
    z-index: -550;
  }
  &-img {
    position: absolute;
    z-index: -550;
    pointer-events: none;
    &--1 {
      max-width: 70%;
      position: relative;
      animation: in-and-out 3s cubic-bezier(0.075, 0.92, 0.005, 1) infinite;
    }
    &--2 {
      top: 0;
      right: 25rem;
      animation: in-and-out-rotation 5s ease-in-out infinite;
    }
  }
  &-background {
    position: absolute;
    top: -5rem;
    right: -11rem;
    z-index: -999;
    transform: scale(1.1);
    pointer-events: none;
    @include respond(tab-port) {
      display: none;
    }
  }
}
.section-discover {
  padding-top: 15rem;
  padding-bottom: 15rem;
  @include respond(tab-port) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 1s ease;
  @include respond(tab-port) {
    flex-direction: column;
    text-align: center;
  }

  &-texts-box {
    flex: 1;
    order: 2;
    margin-left: 7rem;
    @include respond(tab-port) {
      margin-left: 0;
      width: 75%;
    }
    @include respond(phone) {
      order: 2;
      text-align: center;
    }
  }
  &-characters-box {
    flex: 1;
    position: relative;
    @include centerFlex;
    @include respond(phone) {
      order: 1;
    }
  }
  &-img {
    position: absolute;
    max-width: 100%;
    backface-visibility: hidden;

    @include respond(tab-land) {
      max-width: 70%;
    }
    @include respond(phone) {
      max-width: 30%;
    }
    &--1 {
      top: -6rem;
      left: 7rem;
      width: 20%;
      animation: fade-out 1s ease-in, up-and-down 3s ease infinite;
      @include respond(tab-land) {
        max-width: 30%;
        top: -4rem;
        left: 7rem;
      }
      @include respond(tab-port) {
        top: -4rem;
        left: 4rem;
      }
      @include respond(phone) {
        top: -4rem;
        left: 12rem;
      }
    }
    &--2 {
      top: 12rem;
      left: 5rem;
      animation: fade-out 1s ease-in, up-and-down 3s ease 1s infinite;
      @include respond(tab-land) {
        top: 15rem;
        left: -5rem;
      }
      @include respond(tab-port) {
        top: 15rem;
        left: 0rem;
      }
      @include respond(phone) {
        top: 11rem;
        left: 11rem;
      }
    }
    &--3 {
      top: -5rem;
      right: 0;
      animation: fade-out 1s ease-in, up-and-down 3s ease 0.5s infinite;
      @include respond(tab-land) {
        top: -7rem;
        right: 0;
      }
      @include respond(phone) {
        top: -2rem;
        right: 9rem;
      }
    }
    &--4 {
      bottom: 0rem;
      right: 7rem;
      animation: fade-out 1s ease-in, up-and-down 3s ease 1.5s infinite;
      @include respond(tab-land) {
        max-width: 30%;
        bottom: 0;
        right: 8rem;
      }
    }
  }
  &-bg-circle {
    width: 70%;
    @include respond(tab-port) {
      margin-bottom: 9rem;
    }
    @include respond(phone) {
      max-width: 50%;
      margin-bottom: 3rem;
    }
  }
}

.section-discover-inverse {
  padding-top: 15rem;
  padding-bottom: 15rem;
  @include respond(tab-port) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 1s ease;
  @include respond(tab-port) {
    flex-direction: column;
    text-align: center;
  }

  &-btn {
    position: absolute;
    right: 0rem;
    bottom: -10rem;
    @include respond(tab-port) {
      bottom: -10rem;
      right: -7rem;
    }
    @include respond(phone) {
      bottom: 0;
      right: 0rem;
    }
  }
  &-texts-box {
    flex: 1;
    margin-left: 7rem;
    @include respond(tab-port) {
      margin-left: 0;
      width: 75%;
    }
    @include respond(phone) {
      order: 2;
      text-align: center;
    }
  }
  &-characters-box {
    flex: 1;
    position: relative;
    @include centerFlex;
    @include respond(tab-port) {
      margin-top: 5rem;
    }
    @include respond(phone) {
      order: 1;
    }
  }
  &-img {
    position: absolute;
    max-width: 100%;
    backface-visibility: hidden;

    @include respond(tab-land) {
      max-width: 70%;
    }
    @include respond(phone) {
      max-width: 30%;
    }
    &--1 {
      top: -6rem;
      left: 7rem;
      animation: fade-out 1s ease-in, up-and-down 3s ease infinite;
      @include respond(tab-land) {
        max-width: 30%;
        top: -4rem;
        left: 7rem;
      }
      @include respond(tab-port) {
        top: -4rem;
        left: 4rem;
      }
      @include respond(phone) {
        top: -4rem;
        left: 12rem;
      }
    }
    &--2 {
      top: 20rem;
      left: -5rem;
      animation: fade-out 1s ease-in, up-and-down 3s ease 1s infinite;
      @include respond(tab-land) {
        top: 15rem;
        left: -5rem;
      }
      @include respond(tab-port) {
        top: 15rem;
        left: 0rem;
      }
      @include respond(phone) {
        top: 11rem;
        left: 11rem;
      }
    }
    &--3 {
      top: -5rem;
      right: 0;
      animation: fade-out 1s ease-in, up-and-down 3s ease 0.5s infinite;
      @include respond(tab-land) {
        top: -7rem;
        right: 0;
      }
      @include respond(phone) {
        top: -2rem;
        right: 9rem;
      }
    }
    &--4 {
      bottom: 0rem;
      right: 7rem;
      animation: fade-out 1s ease-in, up-and-down 3s ease 1.5s infinite;
      @include respond(tab-land) {
        max-width: 30%;
        bottom: 0;
        right: 8rem;
      }
    }
  }
  &-bg-circle {
    width: 70%;
    @include respond(phone) {
      max-width: 50%;
      margin-bottom: 3rem;
    }
  }
}

.section-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(15rem);
}
